In [8]:
import numpy as np
import pandas as pd
import os
import urllib
%matplotlib inline

In [9]:
file_path = "/content/WHO-COVID-19-global-data.csv"

In [10]:
csv_path = os.path.join(file_path, "/content/WHO-COVID-19-global-data.csv")

In [11]:
df = pd.read_csv(csv_path)

In [12]:
df

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0
...,...,...,...,...,...,...,...,...
282025,2023-04-02,ZW,Zimbabwe,AFRO,0,264549,0,5681
282026,2023-04-03,ZW,Zimbabwe,AFRO,6,264555,0,5681
282027,2023-04-04,ZW,Zimbabwe,AFRO,0,264555,0,5681
282028,2023-04-05,ZW,Zimbabwe,AFRO,0,264555,0,5681
282029,2023-04-06,ZW,Zimbabwe,AFRO,0,264555,0,5681

In [13]:
print(df.isnull().sum())

Date_reported           0
Country_code         1190
Country                 0
WHO_region              0
New_cases               0
Cumulative_cases        0
New_deaths              0
Cumulative_deaths       0
dtype: int64