In [6]:
import numpy as np
import pandas as pd
import os
import urllib
%matplotlib inline

In [7]:
file_path = "/content/WHO-COVID-19-global-data.csv"

In [8]:
csv_path = os.path.join(file_path, "/content/WHO-COVID-19-global-data.csv")

In [9]:
df = pd.read_csv(csv_path)

In [10]:
df

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0.0,0.0,0.0,0.0
1,2020-01-04,AF,Afghanistan,EMRO,0.0,0.0,0.0,0.0
2,2020-01-05,AF,Afghanistan,EMRO,0.0,0.0,0.0,0.0
3,2020-01-06,AF,Afghanistan,EMRO,0.0,0.0,0.0,0.0
4,2020-01-07,AF,Afghanistan,EMRO,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
254058,2021-08-13,TG,Togo,AFRO,195.0,17434.0,1.0,163.0
254059,2021-08-14,TG,Togo,AFRO,147.0,17581.0,2.0,165.0
254060,2021-08-15,TG,Togo,AFRO,265.0,17846.0,0.0,165.0
254061,2021-08-16,TG,Togo,AFRO,154.0,18000.0,0.0,165.0
254062,2021-08-17,TG,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
print(df.isnull().sum())

Date_reported           0
Country_code         1190
Country                 1
WHO_region              1
New_cases               1
Cumulative_cases        1
New_deaths              1
Cumulative_deaths       1
dtype: int64

In [15]:
df["Country_code"].unique()

array(['AF', 'AL', 'DZ', 'AS', 'AD', 'AO', 'AI', 'AG', 'AR', 'AM', 'AW',
       'AU', 'AT', 'AZ', 'BS', 'BH', 'BD', 'BB', 'BY', 'BE', 'BZ', 'BJ',
       'BM', 'BT', 'BO', 'XA', 'BA', 'BW', 'BR', 'VG', 'BN', 'BG', 'BF',
       'BI', 'CV', 'KH', 'CM', 'CA', 'KY', 'CF', 'TD', 'CL', 'CN', 'CO',
       'KM', 'CG', 'CK', 'CR', 'CI', 'HR', 'CU', 'CW', 'CY', 'CZ', 'KP',
       'CD', 'DK', 'DJ', 'DM', 'DO', 'EC', 'EG', 'SV', 'GQ', 'ER', 'EE',
       'SZ', 'ET', 'FK', 'FO', 'FJ', 'FI', 'FR', 'GF', 'PF', 'GA', 'GM',
       'GE', 'DE', 'GH', 'GI', 'GR', 'GL', 'GD', 'GP', 'GU', 'GT', 'GG',
       'GN', 'GW', 'GY', 'HT', 'VA', 'HN', 'HU', 'IS', 'IN', 'ID', 'IR',
       'IQ', 'IE', 'IM', 'IL', 'IT', 'JM', 'JP', 'JE', 'JO', 'KZ', 'KE',
       'KI', 'XK', 'KW', 'KG', 'LA', 'LV', 'LB', 'LS', 'LR', 'LY', 'LI',
       'LT', 'LU', 'MG', 'MW', 'MY', 'MV', 'ML', 'MT', 'MH', 'MQ', 'MR',
       'MU', 'YT', 'MX', 'FM', 'MC', 'MN', 'ME', 'MS', 'MA', 'MZ', 'MM',
       nan, 'NR', 'NP', 'NL', 'NC', 'NZ', 'NI', 'NE', 'NG', 'NU', 'MK',
       'MP', 'NO', 'PS', 'OM', ' ', 'PK', 'PW', 'PA', 'PG', 'PY', 'PE',
       'PH', 'PN', 'PL', 'PT', 'PR', 'QA', 'KR', 'MD', 'RE', 'RO', 'RU',
       'RW', 'XC', 'BL', 'SH', 'KN', 'LC', 'MF', 'PM', 'VC', 'WS', 'SM',
       'ST', 'SA', 'SN', 'RS', 'SC', 'SL', 'SG', 'XB', 'SX', 'SK', 'SI',
       'SB', 'SO', 'ZA', 'SS', 'ES', 'LK', 'SD', 'SR', 'SE', 'CH', 'SY',
       'TJ', 'TH', 'GB', 'TL', 'TG'], dtype=object)